.head {
  background-color: rgb(238, 109, 135);
  height: 6rem;
  text-align: center;
}

.middle {
  height: 25rem;
  width: auto;
  background-color: rgb(107, 103, 103);
}

.foot {
    height: 40rem;
    background-image: url("../Images/prevent_virus.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }

.small-image img {
  height: 10rem;
  width: 15rem;
  padding: 1rem;
  margin-left: 3.5rem;
  background-repeat: no-repeat;
}

.real-data {
  padding: 1rem;
}

.readings {
  margin-left: 3rem;
}

.real-data h2 {
  font-size: 5vw;
  font-family: Tahoma;
  font-weight: bolder;
}

.real-data h5 {
  font-weight: bolder;
  font-family: "Times New Roman";
  text-align: center;
  margin-top: -1rem;
  color: white;
  font-size: 7vw;
}

#dropdown-basic-button {
  margin-top: -1rem;
  margin-left: 8rem;
}

#dropdown-basic-button {
  background-color: rgb(255, 102, 0);
  font-weight: bolder;
}

.dropdown-style {
  height: 10rem;
  width: 13rem;
  overflow-y: scroll;
}

@media only screen and (min-width: 812px) {
  .real-data h2 {
    font-size: 1.5vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-weight: bolder;
  }

  .readings {
    text-align: center;
  }

  .middle {
    height: 40rem;
    background-color: white;
    background-image: url("../Images/coronavirus_pic.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }

  #dropdown-basic-button {
    margin-left: 47vw;
    margin-right: auto;
  }

  .small-image img {
    height: 40%;
    width: 30%;
    padding: 2rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .real-data h5 {
    font-weight: bolder;
    font-family: "Times New Roman";
    color: white;
    font-size: 3vw;
    margin-left: auto;
    margin-right: auto;
  }

  .foot {
    height: 30rem;
    background-image: url("../Images/footer_pic.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
}
